@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --color-gradient--from: hsl(6, 100%, 80%);
  --color-gradient--to: hsl(335, 100%, 65%);
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%); }

html {
  box-sizing: border-box;
  font-size: 14px; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background: url("../../images/bg-desktop.png") var(--color-very-dark-blue);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  color: var(--color-pale-blue);
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10%; }

.menu, .info {
  padding: 3rem;
  background: var(--color-dark-blue);
  border-radius: 10px; }

.menu {
  border-top-right-radius: 100px;
  padding-right: 7rem;
  width: 40%; }
  .menu__logo {
    margin-bottom: 2rem; }
  .menu__options svg {
    padding: .7rem;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border-radius: 10px;
    background: var(--color-very-dark-blue); }

.info {
  width: 50%;
  position: relative; }
  .info__text {
    margin-bottom: 1rem; }
    .info__text span {
      font-weight: 700; }
  .info__popup {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 2rem;
    top: -15%;
    background: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    font-size: 2rem; }
    .info__popup::after {
      content: "";
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateY(-50%);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid white; }
    .info__popup span {
      font-weight: 700;
      font-size: .8rem;
      text-transform: uppercase;
      color: var(--color-grayish-blue); }
  .info__progress {
    margin-bottom: 1rem;
    width: 100%; }
  .info__levels {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: .9rem; }

.attribution {
  position: absolute;
  color: wheat;
  font-size: .8rem;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%); }

.attribution a {
  color: var(--color-grayish-blue); }
